body{
    background-color: #FFEEF4;
    margin:0;
    
}


h1{
    background-color:  #FFC7EA;
    color: #176B87;
    text-align: center;
    padding: 30px;;
    margin:0;
}

/* .scores{
   
   
} */
.result{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    font-size: 40px;;
    font-weight: 400;
}

.images{
    margin-left: 200px;;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
img{
    width: 200px;
    height: 200px;
    padding:2px;
    margin-right: 150px;;
    display: inline-block;
    background-color: powderblue;
}

.images button{
    width: 200px;
    margin-right: 150px;;
    padding: 0px;
    border: none;
    background: none;
    
}

.images button:hover{
    
    border-color: #BC7AF9;
    box-shadow: 0 0 1rem #BC7AF9;
}
.images button:active{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.winner{
    display: flex;
    
    justify-content: center;
    align-items: flex-end;
    color:#176B87;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}